<suite name="Grid Suite" parallel="tests" thread-count="2">

  <test name="Chrome_Test">
    <parameter name="browser" value="Chrome"/>
    <parameter name="gridUrl" value="http://10.238.155.133:4444/">
    <classes>
      <class name="demo.GridLoginTest"/>
    </classes>
  </test>

  <test name="Firefox_Test">
    <parameter name="browser" value="Firefox"/>
    <parameter name="gridUrl" value="http://10.238.155.133:4444/">
    <classes>
      <class name="demo.GridLoginTest"/>
    </classes>
  </test>

</suite>
